*{margin: 0;
padding: 0;}
.back{background-image:url(./girl.webp);
    background-repeat: no-repeat;
    background-size: cover;
height:  600px;
width: 50%;
margin-left: 300px;

} 

h1{text-align: center;
background-color: rgb(195, 74, 74);
font-size: 30px;}

.form{padding-left: 10px;
padding-top: 20px;
font-size:x-large;}
.form input{height:20px;
width: 200px; margin-left: 85px;}
#ab{width: 100px;}

#bc{width: 100px;}

#frst{margin-left: 50px;}

#scnd{margin-left: 10px;}
#add{margin-left: 63px;}

#addt{margin-left: 45px;}
#sub{background-color: rgb(182, 182, 238);
font-size: x-large;
height: 40px;
width: 120px;
margin-left: 490px;
text-decoration: none;
border: 2px solid black;}

#res{background-color: rgb(182, 182, 238);
    font-size: x-large;
    height: 40px;
    width: 120px;
    text-decoration: none;
border: 2px solid black;
margin-left: 40px;}

    
    